node_modules
.next
dist
*.tsbuildinfo
package-lock.json
.eslintcache
.turbo
.vercel
cli/turbo
cli/turbo-new
cli/turbo-new.exe
cli/turbo.exe
storybook-static/
.DS_Store
cache
.env
vendor/
dist
data
node_modules
packages/turbo-server/data/
packages/turbo-server/uploads/
packages/*/node_modules
packages/*/data
apps/*/data